html {
  font-size: 16px; /* this is the root font-size which all rem units will be based on */
}

a, a:hover {
  text-decoration: none !important;
}

body {
  background-color: black !important;
}

.discography_content h2 {
  font-family: 'NeueHaasGroteskText Pro55';
  font-feature-settings: 'liga';
  font-weight: 400;
  font-size: 26px;
  letter-spacing: 7px;
  line-height: 34px;
  text-align: left;
  text-transform: uppercase;
  margin-bottom: 16px;
  padding-top: 16px;
}
.discography_content p,
.discography_content li,
.discography_content ol {
  font-family: 'NeueHaasGroteskText Pro65';
  font-feature-settings: 'liga';
  font-weight: 500;
  font-size: 23px;
  letter-spacing: 1px;
  line-height: 35px;
}
.discography_content p {
  text-align: justify;
}
.discography_content li,
.discography_content ol {
  text-align: left;
}
.discography_content ol {
  list-style-type: none;
  padding-left: 69px;
  text-indent: -69px;
}
.discography_albumTrackListing ol {
  padding-left: 28px;
}
.discography_content p em {
  letter-spacing: 2px;
}
.discography_albumCredits_sm ul,
.discography_albumCredits_md ul,
.discography_albumCredits_lg ul {
  list-style-type: none;
  padding-left: 0px;
  column-gap: 20px;
  columns: 1;
}


.collection_headerText > p { 
  margin: 0px;
  padding: 0px;
}


.publication_mainText h2 {
  text-shadow: 4px 4px 3px rgba(0,0,0,0.18);
  text-transform: uppercase;
  text-align: left;
  font-size: 1.125rem;
  line-height: 1.5625rem;
  letter-spacing: 5px;
}



/* Extra small devices (portrait phones, < 576px) */
@media (max-width: 575.98px) {
  .discography_content h2 {
    font-size: 1.4125rem; /* 22.6px at 16px default size */
    line-height: 30px;
  }
  .discography_content ul {
    padding-left: 20px;
  }
  .discography_content p,
  .discography_content li,
  .discography_content ol {
    font-size: 1.0rem; /* 16px at 16px default size */
    line-height: 1.428125rem; /* 22.85px at 16px default size */
    padding-left: 0px;
  }
  .discography_content ol {
    padding-left: 0px;
    text-indent: 0px;
  }

  .contact_renderedContent p {
    margin-bottom: 0.5rem;
  }
}

/* Small devices (landscape phones, 576 - 768px) */
@media (min-width: 576px) and (max-width: 767.98px) {
  .discography_content h2 {
    font-size: 1.4125rem; /* 22.6px at 16px default size */
    line-height: 1.875rem;
  }
  .discography_content p,
  .discography_content li,
  .discography_content ol {
    font-size: 1.25rem; /* 20px at 16px default size */
    line-height: 1.78125rem; /* 28.5px at 16px default size */
  }
}

/* Medium devices (tablets, 768 - 992px) */
@media (min-width: 768px) and (max-width: 991.98px) {
  .discography_content h2 {
    font-size: 1.52rem; /* 24.32px at 16px default size */
    line-height: 2rem;
  }
  .discography_content p,
  .discography_content li,
  .discography_content ol {
    font-size: 1.3125rem; /* 21px at 16px default size */
    line-height: 1.87rem;
  }
}

/* Large devices (desktops, 992 - 1200px) */
@media (min-width: 992px) and (max-width: 1199.98px) {

}

/* X-large devices (large desktops, 1200 - 1500px) */
@media (min-width: 1200px) and (max-width: 1499.98px) {
  .discography_albumCredits_lg ul,
  .discography_albumCredits_md ul {
    columns: 2;
  }
}

/* XX-large devices (x-large desktops, 1500px and up) */
@media (min-width: 1500px) {
  .discography_albumCredits_md ul {
    columns: 2;
  }
  .discography_albumCredits_lg ul {
    columns: 3;
  }
}